

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:white;
    overflow: hidden;
}

.nav-list__item {
    display: inline;
}

a {
    display: block;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color:white;
    color: black;
    text-decoration: none;
}

div {
    margin: 0;
    padding: 0;
    background-color:white;
}


:any-link {
    color: blue;
}
table {
    background-color: brown;

}